<div class="container">
    <img width="85" height="85" src="/assets/logo.png" alt="logo" />
    <form>
        <label>
            <img width="25" height="25" fill="none" viewBox="0 0 20 20" src="/assets/icon-email.png" alt="icon-email" />
            <input type="email" placeholder="Email" required/>
        </label>
        <label>
            <img width="25" height="25" fill="none" viewBox="0 0 20 20" src="/assets/icon-password.png" alt="icon-password" />
            <input type="password" placeholder="Senha" required/>
        </label>
        <button type="button" class="btn-begepreto">LOGIN</button>
    </form> 
    <span class="msg-error">Usuário ou senha incorreto</span>
</div>
