.btn-begepreto{
    width: 95%;
    height: 60px;
    margin: 25px 0 0;

    border-radius: 10px;
    border: 0;

    color: $branco;
    background: $begepreto;

    font-size: 20px;
    cursor: pointer;
    &:disabled{
        cursor: no-drop;
        background: darken($branco, 20%);
    }
}